/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del mensaje de éxito */
.success-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Estilo para el título */
h1 {
    color: #0a233e;
}

/* Estilo para el mensaje */
p {
    color: #333;
    font-size: 18px;
}

/* Estilo para el botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0a233e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}


.importante{
    color: red;
    text-decoration: underline;
}

.success-container {
    width: 80%; /* Ajusta el ancho a un 80% del contenedor principal */
    max-width: 700px; /* Limita el ancho máximo a 1200px */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Espacio interior para que no se pegue al borde */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }